/*公共样式*/
body {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", "微软雅黑";
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
 
/*顶部标题*/
.queryBox{
    width:1000px;
}
.head p {
    background: #f2f8f9;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    font-size: 15px;
    border-bottom-left-radius: 30px;
}
 
.head i{
    color:#308ee0;
    font-size:19px;
    margin-left:6px;
    vertical-align: middle;
}
/*顶部查询区域*/
.queryBox {
    font-size: 14px;
    margin: 28px 0;
}

.timeSelect {
    float: left;
    margin-left: 23px;
}

#startTime {
    width: 160px;
    height: 25px;
    margin: 0 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#endTime {
    width: 160px;
    height: 25px;
    margin: 0 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;

}

.accountSelect {
    float: left;
    margin-left: 30px;
    margin-right: 30px;
}

.accountList {
    min-width: 160px;
    height: 25px;
    margin-left: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0 3px;
    text-align: center;
    text-align-last: center;
}


.queryMsg {
    width: 95px;
    height: 26px;
    line-height: 12px;
    color: #fff;
    background: #00ce68;
    display: inline-block;
    padding: 6px 12px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;

}


/*表格*/

.table-responsive {
    padding: 0 25px;
}


.table tr th {
    text-align: center;
}

.table tbody tr td {
    vertical-align: middle;
}

